# Construcción y cachés
*.iml
.gradle/
/build
/app/build
.kotlin/
.externalNativeBuild
.cxx
/captures

# Configuración local de entorno y SDK
local.properties

# Configuración de IDE (Android Studio / IntelliJ)
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
